In [1]:
import warnings 
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data_for_UCI_named.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
df = df.drop(['stab'], axis=1)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [5]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stabf    0
dtype: int64

In [6]:
x = df.drop(['stabf'],axis=1)
y = df[['stabf']]

In [7]:
x.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [8]:
y.head()

      stabf
0  unstable
1    stable
2  unstable
3  unstable
4  unstable

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [10]:
# standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
xtrain_scaled = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
xtest_scaled = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

In [11]:
# label encoder
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train = pd.DataFrame(encoder.fit_transform(y_train.reset_index(drop=True)), columns=y_train.columns)
y_test = pd.DataFrame(encoder.fit_transform(y_test.reset_index(drop=True)), columns=y_test.columns)

##  Random Forest Classifier

In [12]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(random_state=1)
RF.fit(xtrain_scaled,y_train)
y_pred = pd.Series(RF.predict(xtest_scaled))

In [13]:
# Checking the Accuracy  for RandomForestClassifier
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)
round(accuracy,4)

0.928

## ExtraTreesClassifier

In [14]:
from sklearn.ensemble import ExtraTreesClassifier
ext_tc = ExtraTreesClassifier()
ext_tc.fit(xtrain_scaled,y_train) 
ext_tc.predict(xtest_scaled)
y_pred.value_counts()

1    1320
0     680
dtype: int64

In [15]:
# Checking the Accuracy for ExtraTreeClassifier
from sklearn.metrics import accuracy_score 
acc = accuracy_score(y_test,y_pred)
round(acc,4)

0.928

## XGB Classifier

In [16]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(xtrain_scaled,y_train)
y_pred  = pd.Series(xgb.predict(xtest_scaled))
y_pred.value_counts()

1    1310
0     690
dtype: int64

In [17]:
# Checking the Accuracy for XGB
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
round(acc,4)

0.946

## LGBM Classifier

In [18]:
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier()
lgbm.fit(xtrain_scaled,y_train)
y_pred = pd.Series(lgbm.predict(xtest_scaled))
y_pred.value_counts()

1    1313
0     687
dtype: int64

In [19]:
# Checking the Accuracy for  LGBM
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)
round(accuracy,4)

0.9365

## Hyperparameter Tuning for  ExtraTreesClassifier

In [20]:

n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None] 
hyperparameter_grid = {'n_estimators': n_estimators,'min_samples_leaf': min_samples_leaf,'min_samples_split': min_samples_split,
                       'max_features': max_features}
from sklearn.model_selection import RandomizedSearchCV
etc_clf = ExtraTreesClassifier()
rdm = RandomizedSearchCV(etc_clf, param_distributions = hyperparameter_grid, cv=5, n_iter=10, n_jobs=-1, verbose=1, 
                         random_state=1, scoring='accuracy')
rdm.fit(xtrain_scaled, y_train)
rdm.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [21]:
etc_clf_opt = ExtraTreesClassifier(max_features=None,min_samples_leaf=8,min_samples_split=2, n_estimators=1000)
etc_clf_opt.fit(xtrain_scaled, y_train)
y_pred = pd.Series(etc_clf_opt.predict(xtest_scaled))
acc = accuracy_score(y_test,y_pred)
acc

0.928

## Feature Importances for Optimal Model of ExtraTreesClassifier

In [22]:

feature_imp = etc_clf_opt.feature_importances_

xyz = pd.DataFrame(feature_imp, index=xtrain_scaled.columns, columns=['Importance'])
print("Max Importance is of: ", xyz[['Importance']].idxmax())
print("Min Importance is of: ", xyz[['Importance']].idxmin())

Max Importance is of:  Importance    tau2
dtype: object
Min Importance is of:  Importance    p1
dtype: object

## Question 2

In [23]:
# The Accuracy for Optimal ExtraTrees Classifier is 0.928, whereas for Untuned ExtratreesClassifier is 0.9275
# Thus, Optimal Model has lower accuracy than the initial model

## Question 6

In [24]:
# from my solution above i got; 0.928

## Question 7

In [25]:
# from my solution above i got;  N_estimators = 1000 , min_samples_split = 2 , min_samples_leaf = 8, max_features = None

## Question 11

In [26]:
# from my soution above i got; 0.9365

## Question 13

In [27]:
# from my solution above i got; 0.946

## Question 15

In [28]:
# from my solution above i got ;
# Max Importance is of:  Importance    tau2
# Min Importance is of:  Importance    p1