In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Question 11

In [58]:
data.groupby('Y2014')['Y2014'].sum()

Y2014
-1796.0       -1796.0
-1631.0       -1631.0
-849.0        -1698.0
-838.0         -838.0
-685.0         -685.0
               ...
 90425.0      90425.0
 98094.0      98094.0
 108756.0    108756.0
 109593.0    109593.0
 176405.0    176405.0
Name: Y2014, Length: 4493, dtype: float64

In [56]:
 data.groupby('Y2017')['Y2017'].sum()

Y2017
-1582.0       -3164.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

### Question 12

In [7]:
data['Y2015'].mean()

135.23596649549236

In [8]:
data['Y2015'].std()

1603.4039839423301

### Question 13

In [21]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

### Question 14

In [50]:
data['Element Code']

0         511
1        5301
2         664
3         674
4         684
         ...
60938    5142
60939     645
60940     664
60941     674
60942     684
Name: Element Code, Length: 60943, dtype: int64

### Question 15

In [29]:
data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

### Question 16

In [30]:
data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [53]:
data.groupby('Y2014')['Y2014'].count()

Y2014
-1796.0      1
-1631.0      1
-849.0       2
-838.0       1
-685.0       1
            ..
 90425.0     1
 98094.0     1
 108756.0    1
 109593.0    1
 176405.0    1
Name: Y2014, Length: 4493, dtype: int64

### Question 17

In [34]:
data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [31]:
data.groupby('Y2018')['Y2018'].count()

Y2018
-3396.0      1
-2450.0      1
-2156.0      2
-1445.0      1
-1442.0      1
            ..
 98424.0     1
 109224.0    1
 117038.0    1
 118172.0    1
 195875.0    1
Name: Y2018, Length: 4591, dtype: int64

### Question 18

In [59]:
data.groupby('Y2018')['Y2018'].count()

Y2018
-3396.0      1
-2450.0      1
-2156.0      2
-1445.0      1
-1442.0      1
            ..
 98424.0     1
 109224.0    1
 117038.0    1
 118172.0    1
 195875.0    1
Name: Y2018, Length: 4591, dtype: int64

In [61]:
data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

### Question 19

In [62]:
data["Y2018"].sum()

8554629.96

### Question 20

In [65]:
data['Area'].count()

60943